{% extends 'base.html' %} {% block title %} Dashboard {% endblock %}
<!-- next -->
{% block content %}

<div class="container">
    <div class="row mt-5 pt-5 gx-0">
        <div class="col-md-2"></div>
        <div class="col-md-4 px-0 mx-0">

            <div class="container d-flex justify-content-center align-items-center">
             
                 <div class="card">
            
                 <div class="upper">
            
                   <!-- <img src="static/images/food.jpg" class="img-fluid"> -->
                   
                 </div>
            
                 <div class="user text-center">
            
                   <div class="profile">
            
                     <img src="static/images/user.png" class="rounded-circle bg-light" width="80">
                     
                   </div>
            
                 </div>
            
            
                 <div class="mt-5 text-center">
            
                   <h4 class="mb-0">{{user.username}}</h4>
                   <span class="d-block mb-0">{{user.age}} years old</span>
            
                   <!-- <button class="btn btn-primary btn-sm follow">Follow</button> -->
            
                   <div class="d-flex justify-content-between align-items-center mt-4 px-4 mb-4">
            
                    <div class="activity mx-auto">
                      <h6 class="mb-0">{{activity[0]}} </h6>
                      <span>{{activity[1]}}</span>
                    </div>
                    
                  </div>
            
            
                   <div class="d-flex justify-content-between align-items-center mt-4 px-4 mb-4">
            
                     <div class="stats">
                       <h6 class="mb-0">Gender</h6>
                       <span>{{user.gender}}</span>
            
                     </div>
            
            
                     <div class="stats">
                       <h6 class="mb-0">Weight</h6>
                       <span>{{user.weight}} kg</span>
            
                     </div>
            
            
                     <div class="stats">
                       <h6 class="mb-0">Height</h6>
                       <span>{{user.height}} cm</span>
            
                     </div>
                     
                   </div>
                   
                 </div>
                  
                </div>
            
            </div>
        </div>
        <div class="col-md-4 px-0 mx-0">
            <div class="card">
               
                <h5 class="mx-auto text-center pb-2 border-bottom w-100 pt-3">Daily Required Nutrients</h5>
                

                <div class="container">
                    <div class="row my-1 px-4">
                        <div class="col-md-1"></div>
                        <div class="col-md-7">Calories</div>
                        <div class="col-md-4">{{'%0.2f'| format(daily_Nutrients[0]|float)}}</div>
                    </div>
                    <div class="row my-2 px-4">
                        <div class="col-md-1"></div>
                        <div class="col-md-7">Total Fat</div>
                        <div class="col-md-4">{{'%0.2f'| format(daily_Nutrients[1]|float)}}</div>
                    </div>
                    <div class="row my-2 px-4">
                        <div class="col-md-1"></div>
                        <div class="col-md-7">Cholesterol</div>
                        <div class="col-md-4">{{'%0.2f'| format(daily_Nutrients[2]|float)}}</div>
                    </div>
                    <div class="row my-2 px-4">
                        <div class="col-md-1"></div>
                        <div class="col-md-7">Sodium</div>
                        <div class="col-md-4">{{'%0.2f'| format(daily_Nutrients[3]|float)}}</div>
                    </div>
                    <div class="row my-2 px-4">
                        <div class="col-md-1"></div>
                        <div class="col-md-7">Potassium</div>
                        <div class="col-md-4">{{'%0.2f'| format(daily_Nutrients[4]|float)}}</div>
                    </div>
                    <div class="row my-2 px-4">
                        <div class="col-md-1"></div>
                        <div class="col-md-7">Total Carbohydrates</div>
                        <div class="col-md-4">{{'%0.2f'| format(daily_Nutrients[5]|float)}}</div>
                    </div>
                    <div class="row my-2 px-4">
                        <div class="col-md-1"></div>
                        <div class="col-md-7">Protein</div>
                        <div class="col-md-4">{{'%0.2f'| format(daily_Nutrients[6]|float)}}</div>
                    </div>
                    <div class="row my-2 px-4">
                        <div class="col-md-1"></div>
                        <div class="col-md-7">Calcium</div>
                        <div class="col-md-4">{{'%0.2f'| format(daily_Nutrients[7]|float)}}</div>
                    </div>
                    <div class="row my-2 px-4">
                        <div class="col-md-1"></div>
                        <div class="col-md-7">Iron</div>
                        <div class="col-md-4">{{'%0.2f'| format(daily_Nutrients[8]|float)}}</div>
                    </div>

                </div>

            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{% endblock %}